.StarDiv {
    position: fixed;
    margin: 150px;
    left: 50%;
    margin-left: -85px;
    width: 170px;
}

.StarText {
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
}

.rating {
    color: #434343;
    font-size: 40px;
  }